<div id="carouselExampleDark" class="carousel container carousel-dark bg-primary slide mt-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <h3 class="text-center mt-3">Imóveis para alugar</h3>
    <div class="row container m-auto" id="slide">
      <div class="col">
        <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row">
                  <div class="col">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/62/17/12/47/360x266/2514191296.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 972.669</h5>
                        <p class="card-text">
                          Itaim Bibi, São Paulo</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/48/89/07/85/720x532/1893052424.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 102.669</h5>
                        <p class="card-text">
                          Patamares, Salvador</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
  
              <div class="carousel-item" data-bs-interval="10000">
                <div class="row">
                  <div class="col">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/62/10/66/49/360x266/2511075923.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 972.669</h5>
                        <p class="card-text">
                          Itaim Bibi, São Paulo</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/63/88/72/72/360x266/2588018827.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 972.669</h5>
                        <p class="card-text">
                          Itaim Bibi, São Paulo</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
  
              <div class="carousel-item" data-bs-interval="10000">
                <div class="row">
                  <div class="col">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/63/61/60/78/360x266/2577029693.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 972.669</h5>
                        <p class="card-text">
                          Itaim Bibi, São Paulo</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/63/88/92/60/360x266/2588059404.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 972.669</h5>
                        <p class="card-text">
                          Itaim Bibi, São Paulo</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
  
    </div>
  
  
  </div>