.container{
  background-image: url('https://www.ryazbek.com.br/wp-content/uploads/2019/11/original-ccba23ab2eb493b23837674485286bcf.jpg');
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  /* align-items: center; justify-content: center;
  border-radius: 10px; */
}

.texto{
  padding-block: 130px;
  text-shadow: 1px 1px 2px #eee3e3;
  font-family: 'Titan One', cursive;
}

button{
  background-color: #6610f2;
  color: white;
}
