
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>



  <div id="carouselExampleDark1" class="carousel carousel-dark slide mt-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <h3 class="text-center mt-3">Imóveis para comprar</h3>
    <div class="row container m-auto" id="slide">
      <div class="col">
        <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row">
                  <div class="col col-lg-3 sm">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/62/53/93/80/360x266/2531181872.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 100.669</h5>
                        <p class="card-text">
                          Itaquera, São Paulo</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>

                  <div class="col col-lg-3 sm">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/58/11/01/38/360x266/2332006912.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 972.669</h5>
                        <p class="card-text">
                         Rio de Janeiro</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>

                  <div class="col col-lg-3 sm">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/51/44/67/12/360x266/2019274912.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 972.669</h5>
                        <p class="card-text">
                          Morumbi, São Paulo</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>

                  <div class="col col-lg-3 sm">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/58/89/74/41/360x266/2369922505.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 972.669</h5>
                        <p class="card-text">
                          Itaim Bibi, São Paulo</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="carousel-item" data-bs-interval="10000">
                <div class="row">
                  <div class="col-lg-3 sm">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/63/93/66/62/360x266/2589980653.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 972.669</h5>
                        <p class="card-text">
                          Itaim Bibi, São Paulo</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>

                  <div class="col col-lg-3 sm">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/58/89/74/41/360x266/2369922505.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 972.669</h5>
                        <p class="card-text">
                          Itaim Bibi, São Paulo</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>

                  <div class="col col-lg-3 sm">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/48/89/07/85/720x532/1893052424.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 972.669</h5>
                        <p class="card-text">
                          Itaim Bibi, São Paulo</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>

                  <div class="col col-lg-3 sm">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/58/89/74/41/360x266/2369922505.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 972.669</h5>
                        <p class="card-text">
                          Itaim Bibi, São Paulo</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="carousel-item" data-bs-interval="10000">
                <div class="row">
                  <div class="col col-lg-3 sm">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/51/44/67/12/360x266/2019274912.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 972.669</h5>
                        <p class="card-text">
                          Itaim Bibi, São Paulo</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>

                  <div class="col col-lg-3 sm">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/48/89/07/85/720x532/1893052424.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 972.669</h5>
                        <p class="card-text">
                          Itaim Bibi, São Paulo</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>

                  <div class="col col-lg-3 sm">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/62/53/93/80/360x266/2531181872.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 972.669</h5>
                        <p class="card-text">
                          Itaim Bibi, São Paulo</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>

                  <div class="col col-lg-3 sm">
                    <div class="card container" style="width: 16rem;">
                      <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/48/89/07/85/720x532/1893052424.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title">R$ 972.669</h5>
                        <p class="card-text">
                          Itaim Bibi, São Paulo</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>

    </div>


  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

