
#slide{
    border-radius: 3px;
  }
  
  .card{
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px #0b0d0f;
    margin-bottom: 20px;
    background-color: #23262e;
    color: white;
  }

  .card-img-top{
    margin-top: 15px;
    border-radius: 5px;
  }
  
  .container{
    border-radius: 10px;
  }
  
  #carouselExampleDark1{
    background-color: #04224e ;
    border-radius: 2px;
  }
  
  h3{
    color: white;
    text-shadow: 1px 1px 2px #eee3e3;
    font-family: 'Titan One', cursive;
  }
  
  